source: nginx
section: httpd
Priority: optional
Maintainer: huihuimoe
Standards-Version: 1.29.1

Package: nginx-boringssl-huihui
Architecture: any
Suggests: geoip-database
Conflicts: 
         nginx,
         nginx-huihui,
         nginx-awslc-huihui
Description: Nginx