#!/usr/bin/make -f

clean: 

build:

binary:
	make install DESTDIR=debian/nginx-boringssl-huihui
	mkdir -p debian/nginx-boringssl-huihui/var/lib/nginx/body
	cp debian/sed.sh . && bash sed.sh && rm sed.sh
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb