#!/usr/bin/make -f

PWD := $(shell pwd)
DEST := $(shell echo $(PWD)/debian/nginx-boringssl-huihui)

clean: 

build:

binary:
	cd ../lua-resty-lrucache-* && make install DESTDIR=$(DEST) LUA_LIB_DIR=/usr/local/share/lua/5.1
	cd ../lua-resty-core-* && make install DESTDIR=$(DEST) LUA_LIB_DIR=/usr/local/share/lua/5.1
	cd ../lua-nginx-split-clients-* && make install DESTDIR=$(DEST) LUA_LIB_DIR=/usr/local/share/lua/5.1
	cd ../lua-cjson/build && make install DESTDIR=$(DEST)/usr/local/lib
	make install DESTDIR=$(DEST)
	mkdir -p $(DEST)/var/lib/nginx/body
#	mkdir -p $(DEST)/etc/perl/auto/nginx
#	cp ./objs/src/http/modules/perl/blib/arch/auto/nginx/nginx.so $(DEST)/etc/perl/auto/nginx
#	cp ./objs/src/http/modules/perl/blib/lib/nginx.pm $(DEST)/etc/perl
	cp debian/files/proxy_params $(DEST)/etc/nginx
	mkdir -p $(DEST)/usr/lib/systemd/system/
	cp debian/files/nginx.service $(DEST)/usr/lib/systemd/system/
	cp debian/sed.sh . && bash sed.sh && rm sed.sh
	rm -r debian/files debian/sed.sh
	dh_strip
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
# https://unix.stackexchange.com/questions/669004
	dh_builddeb -- -Zxz