#!/usr/bin/make -f

PWD := $(shell pwd)
DEST := $(shell echo $(PWD)/debian/nginx-boringssl-huihui)

clean: 

build:

binary:
	cd ../luajit2-* && make install DESTDIR=$(DEST)
	cd ../lua-resty-lrucache-* && make install DESTDIR=$(DEST)
	cd ../lua-resty-core-* && make install DESTDIR=$(DEST)
	cd ../lua-nginx-split-clients-* && make install DESTDIR=$(DEST)
	cd $(DEST)/usr/local/lib/lua && mv ngx resty split-clients $(DEST)/usr/local/share/lua/5.1
	make install DESTDIR=$(DEST)
	mkdir -p $(DEST)/var/lib/nginx/body
#	mkdir -p $(DEST)/etc/perl/auto/nginx
#	cp ./objs/src/http/modules/perl/blib/arch/auto/nginx/nginx.so $(DEST)/etc/perl/auto/nginx
#	cp ./objs/src/http/modules/perl/blib/lib/nginx.pm $(DEST)/etc/perl
	cp debian/files/proxy_params $(DEST)/etc/nginx
	cp debian/sed.sh . && bash sed.sh && rm sed.sh
	rm -r debian/files debian/sed.sh
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb