source: nginx
section: httpd
Priority: optional
Maintainer: huihuimoe
Standards-Version: 1.27.0

Package: nginx-huihui
Architecture: any
Depends: 
         geoip-database
Conflicts: 
         nginx,
         nginx-boringssl-huihui
Description: Nginx