source: nginx
section: httpd
Priority: optional
Maintainer: huihuimoe
Standards-Version: 1.25.3

Package: nginx-huihui
Architecture: any
Depends: 
         geoip-database
Recommends:
         geoip-database-extra
Conflicts: 
         nginx,
         nginx-boringssl-huihui
Description: Nginx