source: nginx
section: httpd
Priority: optional
Maintainer: huihuimoe
Standards-Version: 1.15.2

Package: nginx-huihui
Architecture: amd64
Depends: libluajit-5.1-2,
         libgeoip1,
         libgd3,
         libxslt1.1,
         perl
Description: Nginx