#!/usr/bin/make -f

clean: 

build:

binary:
	make install DESTDIR=debian/nginx-huihui
	mkdir -p debian/nginx-huihui/etc/perl/auto/nginx
	cp ./objs/src/http/modules/perl/blib/arch/auto/nginx/nginx.so debian/nginx-huihui/etc/perl/auto/nginx
	cp ./objs/src/http/modules/perl/blib/lib/nginx.pm debian/nginx-huihui/etc/perl
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb